<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aspmovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/movieicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movieicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AspMovie">
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <activity
            android:name=".MovieDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ShowMovies"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>